@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
:root {
  --font-color: rgb(255, 255, 255);
  --primary-color: #57b8ff;
  --second-color: #fac422;
}
.light header {
  background-image: linear-gradient(to right, #57b8ff 0 50%, #57b8ff 50% 100%);
}
.light .home p {
  color: var(--font-color);
}
.light .home-btn button:hover {
  background-color: var(--second-color);
}

/* headerning nav qismi boshlandi */
header {
  background-image: linear-gradient(to right, black 0 50%, #57b8ff 50% 100%);
}
.nav-container {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--font-color);
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 60px;
}
.nav-list a {
  color: var(--font-color);
}
.nav-list a:hover {
  color: var(--second-color);
}
.nav-btn {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav-btn button {
  color: var(--font-color);
  cursor: pointer;
  background-color: transparent;
}
.light-btn {
  border: none;
}
.btn {
  padding: 16px 31px;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  border: 1px solid rgb(255, 255, 255);
}
/* headerning nav qismi tugadi */

/* headerning home qismi boshlandi */
.home {
  display: flex;
  padding-top: 214px;
  padding-bottom: 250px;
}
.home-text {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}
.home-text b {
  color: var(--primary-color);
}
.text-content h1 {
  margin-bottom: 45px;
  color: var(--font-color);
  font-size: 72px;
  font-weight: 400;
  line-height: 86px;
  text-transform: capitalize;
}
.text-content p {
  color: #999;
  font-size: 18px;
  line-height: 28px;
}
.home-btn {
  margin-top: 54px;
  display: flex;
  gap: 6px;
}
.home-btn button {
  padding: 21px 34px;
  color: var(--font-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.home-btn button:hover {
  background-color: var(--primary-color);
}
/* headerning home qismi tugadi */

/* main gaming qismi boshlandi */

.gaming {
  background-image: url(../images/background-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1072px;
}
.gaming-container {
  padding-top: 136px;
}
.gaming-text {
  width: 770px;
  margin: 0 auto;
  text-align: center;
}
.gaming-text b {
  color: var(--primary-color);
  text-align: center;
  font-size: 16px;
  font-family: Orbitron;
  line-height: 16px;
  text-transform: uppercase;
}
.gaming-text h1 {
  margin-top: 22px;
  color: var(--font-color);
  text-align: center;
  font-size: 64px;
  font-weight: 400;
  line-height: 74px;
  text-transform: capitalize;
}
.gaming-text p {
  margin-top: 39px;
  color: rgba(223, 223, 223, 0.8);
  text-align: center;
  font-size: 20px;
  line-height: 32px;
}

.card {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
}
.box {
  padding: 35px 40px 32px 38px;
  width: 642px;
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  gap: 18px;
  align-items: baseline;
  border-radius: 20px;
}
.box-content h2 {
  color: var(--font-color);
  font-size: 32px;
  font-weight: 400;
  font-family: Orbitron;
  line-height: 42px;
  text-transform: capitalize;
}
.box-content p {
  margin-top: 19px;
  color: rgba(223, 223, 223, 0.8);
  font-size: 18px;
  line-height: 28px;
}
